GROQ_API_KEY=gsk...
LANGFUSE_SECRET_KEY=sk-lf-sua-chave-secreta-aqui
LANGFUSE_PUBLIC_KEY=pk-lf-sua-chave-publica-aqui
LANGFUSE_HOST=http://localhost:3000

# ================================
# Parâmetros para o Docker Compose
# ================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
NEXTAUTH_SECRET=secret-super-seguro
SALT=salt-super-seguro
LANGFUSE_INIT_USER_EMAIL=admin@admin.com
LANGFUSE_INIT_USER_PASSWORD=unisagradoaula2026
